<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <title>GetPrint || Menjadi Mitra</title>
</head>
<body ng-app = "menjadimitra">
    <form ng-controller="menjadimitraCtrl" ng-submit="submitform()">
        <div class="form-group" >
            <label>Nama Toko</label>
            <input type="text" class="form-control" ng-model="data.namatoko" name="namatoko">
        </div>
        <div class="form-group">
            <label>Nama Pemilik Toko</label>
            <input type="text" class="form-control" ng-model="data.namapemilik" name="namapemilik">
        </div>
        <div class="form-group">
            <label>Alamat Toko</label>
            <input type="text" class="form-control" ng-model="data.alamattoko" name="alamattoko">
        </div>
        <button type="submit" class="btn btn-primary">Kirim ke WA</button>
    </form>
    <script src="mitra.js">
        var appang = angular.module('menjadimitra',[]);

        appang.controller("menjadimitraCtrl",['$scope','$http','$window', function($scope,$http,$window){
            console.log($scope.data)
            $scope.data = {}
            
            $scope.submitform = function(){
                console.log($scope.data)
                $http({
                    method : "POST",
                    url : "/mitra",
                    data : $scope.data,
                }).then(function successCallback(response){
                    console.log(response);
                    window.location.href = "https://api.whatsapp.com/send?phone=6289635639022&text=%2aGetPrint%2a%20%0ANama%20Toko%20%3A%20"+$scope.data.namatoko+"%2C%0ANama%20Pemilik%20%3A%20"+$scope.data.namapemilik+"%2C%0AAlamat%20Toko%20%3A%20"+$scope.data.alamattoko+"%2C%0ASaya%20tertarik%20untuk%20bergabung%20dengan%20mitra%20anda.";
                })
            }
        }]);
    </script>
</body>
</html>