<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="assets/Logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet"> 

    <title>GetPrint || Pesanan </title>
</head>
<body class="getprint-gray-bg stretch-bottom-body" ng-app="pesanan" ng-controller="myapp" style="display: none;">
    <div class="container-fluid getprint-round-navbar">
        <h4><a id="arrowBack" href="/"><i class="fa fa-angle-left"></i></a>Keranjang</h4>
    </div>

    <div id="order-details" class="container">
        <h4><strong>{{mitra.nama_toko}}</strong></h4>
        <i class="fa fa-map-marker"></i><p> {{mitra.alamat_toko}}</p>
        <hr>
        <h4><strong>Order Details</strong></h4>
        <p>Delivery?</p>
        <!-- https://gitbrent.github.io/bootstrap4-toggle/ -->
        <input type="checkbox" data-toggle="toggle" data-size="xs" data-on="yes" data-off="no" name="customPermissions[]" ng-model="data.delivery"  value="delivery" ng-init="form.customPermissions.delivery=true" >
    </div>

    <div class="container-fluid getprint-white-container stretch-bottom-content pt-2">
        <div class="container">
            <form name="formPesanan">
                
                <div class="form-group" >
                    <!-- <label>Alamat Pemesan</label> -->
                    <input type="text" class="form-control getprint-form-gray" ng-model="data.alamat_pemesan" name="alamat_pemesan" placeholder="Location details (e.g. landmark)" required>
                    <span style="color: red;"  ng-show="formPesanan.alamat_pemesan.$dirty && formPesanan.alamat_pemesan.$invalid || formPesanan.alamat_pemesan.$touched">
                        <span ng-show="formPesanan.alamat_pemesan.$error.required" >Alamat Pemesan harus diisi</span>
                    </span>
                </div>
                <div class="form-group" >
                    <!-- <label>Nama Pemesan</label> -->
                    <input type="text" class="form-control getprint-form-gray" ng-model="data.nama" name="nama" placeholder="Enter Recipient’s name..." required>
                    <span style="color: red;"  ng-show="formPesanan.nama.$dirty && formPesanan.nama.$invalid || formPesanan.nama.$touched">
                        <span ng-show="formPesanan.nama.$error.required" >Nama Pemesan harus diisi</span>
                    </span>
                </div>
                <div class="form-group" >
                    <!-- <label>No HP pemesan</label> -->
                    <input type="text" class="form-control getprint-form-gray" ng-model="data.nohp_pemesan" name="nohp_pemesan" placeholder="Enter phone number..." required>
                    <span style="color: red;"  ng-show="formPesanan.nohp_pemesan.$dirty && formPesanan.nohp_pemesan.$invalid || formPesanan.nohp_pemesan.$touched">
                        <span ng-show="formPesanan.nohp_pemesan.$error.required" >No HP pemesan harus diisi</span>
                    </span>
                </div>
                <div class="input-group">
                    <select class="custom-select getprint-form-gray">
                        <option selected>Choose Service (Print, Scan, Photocopy)</option>
                        <option class="jenispesanan" id="print" name="print" value="print" ng-model="data.print">Print</option>
                        <option class="jenispesanan" id="fotocopy" name="fotocopy" value="fotocopy" ng-model="data.fotocopy">Fotocopy</option>
                        <option class="jenispesanan" id="scan" name="scan" value="scan" ng-model="data.scan">Scan</option>
                    </select>
                </div>
            </form>
            <form  id="uploadForm" name="formupload" >
                <!-- 
                    intinya: #upload-container-parent > #uplaod container-child > .myLabel > input + span
                    #upload-container-child yang diulang sampai 5x, typenya ingin dibuat inline biar kotak upload file sebaris
                    #upload-container-parent yang membuat childnya center, sehingga parent dibuat flex, dan child dibuat inline
                    seisinya dibuat untuk styling file input
                -->
                <div id="upload-container-parent">
                    <div id="upload-container-child" class="form-group form-upload" ng-repeat="form in forms" >
                        <div class="custom-file">
                            <label for="{{form.name}}" class="btn btn-light custom-file-style"><i class="fa fa-plus" ></i><br><p id="{{form.filename}}" style="margin-bottom: 0">ADD FILE</p></label>
                            <input onchange="angular.element(this).scope().listFile(this, this.files)" id="{{form.name}}" type="file" class="custom-file-input" id="customFile" value="choose" name="myfile" custom-file-input required>
                        </div>
                    </div>
                </div>
                <div class="center-align form-group">
                    <input id="addForm" type="button" value="Add more files" ng-click="addform()" class="btn btn-primary" style="text-decoration: none; color: white;">
                    <input ng-click="uploadFiles()" id="uploadBtn" type="submit" class="btn btn-primary" value="Upload"></button>
                </div>
                <div id="progress-layout"></div>
                
            </form>
            
            <div class="center-align">
                    <a id="cancelBtn" href="/" class="btn btn-light btn-lg getprint-shadow" style="background-color: white;">Cancel</a>
                    <button ng-click="submitMyform()" id="submitData" type="submit" class="btn btn-primary btn-lg getprint-shadow" ng-disabled="formPesanan.$invalid">Order</button>
            </div>
        
        </div>
    </div>
</body>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script src="js/LIFF/liffInit.js"></script>
<script src="js/helper/getUrlParameter.js"></script>
<script src="js/pages/pesanan.js"></script>
</html>
