html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

/* conflict sama bootstrap
div {
    max-width: 100%; 
    text-align: center;
} */

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

/* img { 
    max-width: 25%; 
    height: auto; 
} */

.row a {
    text-decoration: none;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.textLeft {
    text-align: left;
}

.buttonGroup {
    position: relative;
    top: 20px;
}

.hidden {
    display: none;
}

#map {
    height: 50%;
    width: 50%;
  }

/* index */

.row, #div {
    border-radius: 25px;
}

body {
    background-color: #f5f6f8;
}

#item-container {
    -webkit-box-shadow: 10px 10px 54px 16px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 54px 16px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 54px 16px rgba(0,0,0,0.15);
}

#item-container .card {
    /* padding: 10px; */
    border: none;
    border-radius: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    -webkit-box-shadow: 0px 90px 55px -35px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 90px 55px -35px rgba(0,0,0,0.25);
    box-shadow: 0px 90px 55px -35px rgba(0,0,0,0.25);
}

#item-container img {
    border-radius: 25px;
    object-fit: cover;
}

#card-image, #card-text {
    padding: 10px;
}

.carousel {
    width: 100%;
}

#button-container{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}

#button-container button{
    text-decoration: none;
}

#header-container {
    display: block;
}

#header-container-image {
    background-color: #0029FF;
    margin: 0 auto;
    color: white;
}

/* .header-detail-box{
    position: absolute;
    width: 411px;
    height: 57px;
    left: 0px;
    top: -15px;
    background: #0029FF;
    border-radius: 15px;
}

.header-detail{
    position: relative;
    top: 20px;
    left: 50px;
}

.header-detail-box .header-detail a{
    text-decoration: none;
    color: white;
}

.img-detail{
    position: absolute;
    
    left: 14px;
    top: 80px;
}

.img-detail img{
    width: 383px;
    height: 177px;
    border-radius: 10px;
}

.body-detail{
    position: absolute;
    width: 411px;
    height: 560px;
    left: 0px;
    top: 263px;

    background: #FFFFFF;
    border-radius: 30px;
}

.body-detail .nama-toko {
    position: absolute;
    width: 264px;
    height: 31px;
    left: 40px;
}

.body-detail .nama-toko p {
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #0029FF;
}
*/
/* #detail-alamat-toko{
    position: absolute;
    left: 40px;
    top: 30px;
}

#detail-alamat-toko p {
    font-family: Assistant;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    /* Warna 1 */

/*    color: #0029FF;
} */

/* .info-detail{
    position: absolute;
    width: 67px;
    height: 24px;
    left: 40px;
    top: 320px;
}
.info-detail h3{
    color: #3E34AC;
}

.info-detail .info-group{
    width: 291px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(6, 18, 121, 0.1);
    border-radius: 10px;
    margin-top:20px ;
    margin-bottom:20px ;
} */

/* 
.pesan{
    position: absolute;
    width: 290px;
    height: 50px;
    left: 56px;
    top: 745px;

    /* Main_Color */
/*
    background: #0029FF;
    box-shadow: 0px 15px 30px rgba(9, 21, 125, 0.15);
    border-radius: 10px;
}

.pesan #input a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

#input{
    margin-top: 10px;
    margin-left: 80px;
} */

.loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {         
            top: 150px;   
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid white;
            border-right: 1.1em solid #0029FF;
            border-bottom: 1.1em solid #0029FF;
            border-left: 1.1em solid #0029FF;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #loadingDiv {
            
            z-index: 10;
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color:#f5f6f8;
        }

/* add mitra */

.getprint-round-navbar {
    background-color: #0029FF;
    padding: 3px;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.getprint-gray-bg {
    background-color: #f5f6f8;
}

.getprint-white-container {
    box-shadow: 15px 0px 30px rgba(5, 4, 71, 0.1);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: white;
}

.getprint-blue-title {
    color: #0029FF;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.getprint-white-container .container {
    padding-top: 15px;
}

.getprint-white-container button {
    margin-bottom: 1rem;
}

#upload-foto {
    margin-top: 50px;
    padding-top: 10px;
}

.stretch-bottom-body {
    display: flex;
    flex-direction: column;
}

.stretch-bottom-content {
    flex: 1;
}

.fa-form-position {
    float: right;
    margin-right: 10px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: #838383;
}

.form-group .getprint-form-gray { /* specific to override default bootstrap values */
    background-color: #F4F4F4;
    box-shadow: 0px 15px 30px rgba(7, 5, 90, 0.1);
}

#detail-white-container {
    position: relative;
    margin-top: 150px;
}

#detail-white-container #detail-nama-toko h4 {
    margin-top: 100px;
    color: #0029FF;
    font-weight: bold;
}

#detail-img {
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(7, 5, 90, 0.1);
    /* floating */
    position: absolute;
    z-index: 1;
    /* centering, pakai metode ini karena kebetulan postion-absolute-relative */
    margin: auto;
    left: 0;
    right: 0;
    /* positioning */
    margin-top: -120px;
}

#detail-alamat-toko {
    color: #0029FF;
}

#info-detail {
    color: #0029FF;
}

#info-detail .info-group {
    margin-top: 7px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 15px 30px rgba(7, 5, 90, 0.1);
    position: relative;
    z-index: 1;
}

/* dari backendnya pakai class, takut break backend jadi tidak dirubah ke id */
.pesan { 
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    background-color: #0029FF;
    padding: 10px;
    /* space kiri-kanan */
    display: flex;
    justify-content: space-between;
}

.pesan a, .pesan span { /* harus spesifik */
    color: white;
}

.pesan span {
    font-size: 30px;
}

.detail-admin-menu{
    display:flex;
    justify-content:flex-end; 
    width:100%;

}

.detail-admin-menu a {
    text-decoration:none;
    color:white;
    margin: 10px;
    cursor: pointer;
}
