<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="assets/Logo.png" />
        <link rel="stylesheet" href="style.css" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
        <title>GetPrint || Menjadi Mitra</title>
        <style>
            #map .marker-centered {
                position: absolute;
                /*url of the marker*/
                background: url(https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png)
                    no-repeat;
                background-size: 25px;
                /*center the marker*/
                top: 50%;
                left: 50%;
                z-index: 1;
                /*fix offset when needed*/
                margin-left: -10px;
                margin-top: -34px;
                /*size of the image*/
                height: 40px;
                width: 25px;
                cursor: pointer;
            }
        </style>
    </head>
    <body class="getprint-gray-bg stretch-bottom-body" ng-app="menjadimitra" ng-controller="menjadimitraCtrl" style="display: none;">
        <div class="container-fluid getprint-round-navbar">
            <h4>Form Mitra Baru</h4>
        </div>
        <div class="container">
            <p class="getprint-blue-title">Data Mitra</p>
        </div>
        <div
            class="container getprint-white-container stretch-bottom-content pt-2"
        >
            <form name="formMitra">
                <div class="form-group" style="display: none;">
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.id_foto"
                        name="pesananid"
                        value="{{data.id_foto}}"
                    />
                </div>

                <div class="form-group">
                    <!-- <label>Nama Toko</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.nama_toko"
                        name="nama_toko"
                        placeholder="Nama Toko (contoh: Adjie Fotocopy)"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.nama_toko.$dirty && formMitra.nama_toko.$invalid || formMitra.nama_toko.$touched"
                    >
                        <span ng-show="formMitra.nama_toko.$error.required"
                            >Nama Toko harus diisi</span
                        >
                    </span>
                    <span class="fa fa-home fa-form-position"></span>
                </div>

                <div class="form-group">
                    <!-- <label>Nama Pemilik Toko</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.nama_pemilik"
                        name="nama_pemilik"
                        placeholder="Nama Pemilik"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.nama_pemilik.$dirty && formMitra.nama_pemilik.$invalid || formMitra.nama_pemilik.$touched"
                    >
                        <span ng-show="formMitra.nama_pemilik.$error.required"
                            >Nama Pemilik harus diisi</span
                        >
                    </span>
                    <span class="fa fa-user fa-form-position"></span>
                </div>

                <div class="form-group">
                    <!-- <label>Email</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.email"
                        name="email"
                        placeholder="Email"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.email.$dirty && formMitra.email.$invalid || formMitra.email.$touched"
                    >
                        <span ng-show="formMitra.email.$error.required"
                            >Email harus diisi</span
                        >
                    </span>
                    <span class="fa fa-envelope fa-form-position"></span>
                </div>

                <div class="form-group">
                    <!-- <label>Nomor Handphone</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.no_hp"
                        name="no_hp"
                        placeholder="Nomor Handphone"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.no_hp.$dirty && formMitra.no_hp.$invalid || formMitra.no_hp.$touched"
                    >
                        <span ng-show="formMitra.no_hp.$error.required"
                            >No. Hp harus diisi</span
                        >
                    </span>
                    <span class="fa fa-phone fa-form-position"></span>
                </div>

                <div class="form-group">
                    <!-- <label>Alamat Toko</label required> -->
                    <div class="form-row">
                        <div class="col-12">
                            <textarea
                                type="text"
                                class="form-control getprint-form-gray"
                                ng-model="data.alamat_toko"
                                name="alamat_toko"
                                placeholder="Alamat Toko"
                                id="fixAddress"
                                cols="20"
                                rows="2"
                                required
                                disabled
                            ></textarea>
                            <span class="fa fa-map-marker fa-form-position"></span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <a id="mapBtn" class="btn btn-primary" style="color: white;height:40px;margin-top: 3%;" data-toggle="modal" data-target="#exampleModalCenter">Pilih Lewat Peta</a>
                        </div>
                        
                    </div>
                    <span
                        style="color: red;"
                        ng-show="formMitra.alamat_toko.$dirty && formMitra.alamat_toko.$invalid || formMitra.alamat_toko.$touched"
                    >
                        <span ng-show="formMitra.alamat_toko.$error.required"
                            >Alamat harus diisi</span
                        >
                    </span>
                    
                </div>

                <p class="getprint-blue-title">Data Harga</p>

                <div class="form-group">
                    <!-- <label>Harga</label>
                <br>
                <label>Print</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.harga.print"
                        name="print"
                        placeholder="Harga Print"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.print.$dirty && formMitra.print.$invalid || formMitra.print.$touched"
                    >
                        <span ng-show="formMitra.print.$error.required"
                            >Harga Print harus diisi (jika tidak ada tulis
                            0)</span
                        >
                    </span>
                    <span class="fa fa-info-circle fa-form-position"></span>
                    <!-- <label>Scan</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.harga.scan"
                        name="scan"
                        placeholder="Harga Scan"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.scan.$dirty && formMitra.scan.$invalid || formMitra.scan.$touched"
                    >
                        <span ng-show="formMitra.scan.$error.required"
                            >Harga scan harus diisi(jika tidak ada tulis
                            0)</span
                        >
                    </span>
                    <span class="fa fa-info-circle fa-form-position"></span>
                    <!-- <label>Fotocopy</label> -->
                    <input
                        type="text"
                        class="form-control getprint-form-gray"
                        ng-model="data.harga.fotocopy"
                        name="fotocopy"
                        placeholder="Harga Fotocopy"
                        required
                    />
                    <span
                        style="color: red;"
                        ng-show="formMitra.fotocopy.$dirty && formMitra.fotocopy.$invalid || formMitra.fotocopy.$touched"
                    >
                        <span ng-show="formMitra.fotocopy.$error.required"
                            >Harga fotocopy harus diisi(jika tidak ada tulis
                            0)</span
                        >
                    </span>
                    <span class="fa fa-info-circle fa-form-position"></span>
                    <input
                        type="text"
                        name="lat"
                        id="default_latitude"
                        ng-model="data.coords.lat"
                        style="display: none;"
                    />
                    <input
                        type="text"
                        name="lng"
                        id="default_longitude"
                        ng-model="data.coords.lng"
                        style="display: none;"
                    />
                </div>
            </form>
            <form  id="uploadForm" name="formupload" >
                <!-- 
                    intinya: #upload-container-parent > #uplaod container-child > .myLabel > input + span
                    #upload-container-child yang diulang sampai 5x, typenya ingin dibuat inline biar kotak upload file sebaris
                    #upload-container-parent yang membuat childnya center, sehingga parent dibuat flex, dan child dibuat inline
                    seisinya dibuat untuk styling file input
                -->
                <div id="upload-container-parent">
                    <div id="upload-container-child" class="form-group form-upload">
                        <div class="custom-file">
                            <label for="file1" class="btn btn-light custom-file-style"><i class="fa fa-plus" ></i><br><p id="filename1" style="margin-bottom: 0">ADD FOTO</p></label>
                            <input onchange="angular.element(this).scope().listFile(this, this.files)" id="file1" type="file" class="custom-file-input" id="customFile" value="choose" name="mitraFoto" custom-file-input required>
                        </div>
                    </div>
                </div>
                <div class="center-align form-group">
                    <input ng-click="uploadFIle()" id="uploadBtn" type="submit" class="btn btn-primary" value="Upload"></button>
                </div>
                <div id="progress-layout"></div>
                
            </form>
            <div class="text-center">
                <button
                    id="submit-form"
                    type="submit"
                    class="btn btn-primary"
                    ng-disabled="formMitra.$invalid"
                    ng-click="submitform()"
                >
                    Submit
                </button>
            </div>
        </div>

        <!-- Modal Map -->
        <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 100%; height: 100%; padding: 0;">
            <div class="modal-content" style="height: auto;
            min-height: 100%;
            border-radius: 0;">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Maps</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="map" style="width: 100%; height: 100%;padding: 33%;">
                    
                </div>
                <div class="modal-footer">
                    <textarea
                        type="text"
                        class="form-control getprint-form-gray"
                        name="alamat_toko"
                        placeholder="Alamat Toko"
                        id="address"
                        cols="20"
                        rows="2"
                        required
                    ></textarea>
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveLocation">Save Location</button>
                </div>
            </div>
            </div>
        </div>
    </body>  
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="js/LIFF/liffInit.js"></script>
    <script src="js/helper/isAdmin.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=<KEY_GOOGLE_API>&callback=initMap&libraries=geometry&v=weekly"
        defer
    ></script>
    <script src="js/getLocation.js"></script>
    <script src="js/tesmitra.js"></script>
</html>
